body{
    scroll-behavior: smooth;
    background-image: url("images/Abstract\ Colorful\ Background.svg");
    background-repeat: repeat;
    overflow-x: hidden;
    margin: 0px;
    margin-right: -15px;

}
.wave{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -0.8%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
   margin-top: -10px;
    z-index: 99;
    height: 100px;
    opacity: 100%;
    background-color: #0099ff;
    margin-left: -10px;
    margin-right: -10px;
}
.navContent{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
    color: white;
}
.navContent:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.1s;
}
#contact{
    margin-right: 5%;
}
#hjem{
    margin-left: 5%;
}
#middle{
    margin-left: 10%;
    margin-right: 10%;
}
#news{
    background-color: #aa0e28;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -1%;
    padding-top: 1%;
    height: 300px;
    padding-bottom: 1%;
}
#frontVideo{
    width: 100%;
    height: auto;
}

#newsItems{
    display: flex;
    justify-content: space-around;
}
.newsItem{
    border: solid white 1px;
    height: 150px;
    padding: 5px;
}

.readMore{
    cursor: pointer;
    text-decoration: underline;
}
#announcements{
    background-color: #f8f8f8;
    color: black;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    margin-top: -1%;
    height: 300px;
    padding-bottom: 1%;
}
.studies{
    font-size: 2em;
}
#announcementItems{
    display: flex;
    justify-content: space-around;
}
.announcementItem{
    border: solid black 1px;
    height: 150px;
    padding: 5px;
}

#social{
    background-color: cornflowerblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}
#followUs{
    display: flex;
    justify-content: space-around;
}
.socialIcon{
    width: 10%;
    height: auto;
    padding-bottom: 2%;
    max-width: 100px;
}
.socialIcon:hover{
    cursor: pointer;
}


#padding{
    padding-left: 3%;
}
#applyButton{
    cursor: pointer;
    height: 100px;
    width: 400px;
    font-size: 2em;text-decoration: underline;
}
#applyButton:hover{
    transform: scale(1.1);
}
#footer{
    display: flex;
    justify-content: space-around;
}
#footerLogo{
    width: 10%;
    height: auto;
    padding-left: 3%;
    padding-top: 3%;
}
footer{
    background-color: gray;
}
.footerItem{
    font-size: 1.5em;
    cursor: pointer;
}
.footerItem:hover{
    transform: scale(1.3);
    text-decoration: underline;
}
.apply{
    background-color:#009900;
    padding-top: 1%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.studyItems {
    background-color:white;
    box-shadow: 0 4px 8px 0 green;
    width: 100vh;
    height: auto;
    margin-right: 5vh;
    text-align: left;
    margin-bottom: 4vh;
    
  }
  @media (max-width: 100px) {
    .studyItems {
      flex-direction: column;
    }
  
    .studyItems {
    align-self: center;
  }
  }

  .studyItem{
    border: solid black 1px;
    width: 50vh;
    height: auto;
    padding: 5px;
    margin-top: 3%;
    
}
  
  /*the flex containers that creates the cards*/
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    width: 100%;
    

  }
  
  /* styling the containers */
  .flex-container > div {
    background-color:white;
    box-shadow: 0 4px 8px 0 green;
    width: 50vh;
    height: auto;
    margin-right: 5vh;
    text-align: left;
    margin-bottom: 4vh;
    align-self: center;
    margin-left: 5vh;
  }
  
  
  @media (max-width: 1300px) {
    .flex-container {
      flex-direction: column;
    }
  
    .flex-container > div {
    align-self: center;
  }
  }

  .studtitel {
    font-size: 3em;
    background-color:green;
    padding: 5%;
    margin-bottom: 0;
    margin-top: 0;
  }
    /*the flex containers that creates the cards*/
    .anno_flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color:white;
        width: 100%;
        
    
      }
      
      /* styling the containers */
      .anno_flex-container > div {
        background-color:white;
        border-style: solid;
        width: 50vh;
        height: auto;
        margin-right: 5vh;
        text-align: left;
        margin-bottom: 4vh;
        align-self: center;
        margin-left: 5vh;
      }
      
      
      @media (max-width: 1300px) {
        .anno_flex-container {
          flex-direction: column;
        }
      
        .anno_flex-container > div {
        align-self: center;
      }
      }
      .annotitel {
        font-size: 3em;
        background-color:white;
        padding: 5%;
        margin-bottom: 0;
        margin-top: 0;
          
      }

        /*the flex containers that creates the cards*/
        .news_flex-container {
            display: flex;
            flex-wrap: wrap;
            background-color:red;
            width: 100%;
            
            
        
          }
          
          /* styling the containers */
          .news_flex-container > div {
            background-color:white;
            border-style: solid;
            width: 50vh;
            height: auto;
            margin-right: 5vh;
            text-align: left;
            margin-bottom: 4vh;
            align-self: center;
            margin-left: 5vh;
          }
          
          
          @media (max-width: 1300px) {
            .news_flex-container {
              flex-direction: column;
            }
          
            .news_flex-container > div {
            align-self: center;
          }
          }
          .newstitel {
            font-size: 3em;
            background-color:red;
            padding: 5%;
            margin-bottom: 0;
            margin-top: -5px;
              
          }