body{
    scroll-behavior: smooth;
    background-image: url("images/Abstract\ Colorful\ Background.svg");
    background-repeat: repeat;
    overflow-x: hidden;
    margin: 0px;

}
.wave{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -0.8%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
   margin-top: -10px;
    z-index: 99;
    height: 100px;
    opacity: 100%;
    background-color: #0099ff;
    margin-left: -10px;
}
.navContent{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
    color: white;
}
.navContent:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.1s;
}
#navLogo{
    margin-left: 25px;
    margin-top: 10px;
    height: 100px;
    width: auto;
}
#contact{
    margin-right: 5%;
}
#hjem{
    margin-left: 5%;
}
#middle{
    margin-left: 10%;
    margin-right: 10%;
}
#news{
    background-color: #aa0e28;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -1%;
    height: 300px;
}
#frontVideo{
    width: 100%;
    height: auto;
}

#newsItems{
    display: flex;
    justify-content: space-around;
}
.newsItem{
    border: solid white 1px;
    height: 150px;
    padding: 5px;
}
.newsItem:hover{
    transform: scale(1.1);
}
.readMore{
    cursor: pointer;
    text-decoration: underline;
}
#announcements{
    background-color: #f8f8f8;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -1%;
    height: 300px;
}
.studies{
    font-size: 2em;
}
#announcementItems{
    display: flex;
    justify-content: space-around;
}
.announcementItem{
    border: solid black 1px;
    height: 150px;
    padding: 5px;
}
.announcementItem:hover{
    transform: scale(1.1);
}
#social{
    background-color: cornflowerblue;
    padding-left: 5%;
    padding-right: 5%;
}
#followUs{
    display: flex;
    justify-content: space-around;
}
.socialIcon{
    width: 100px;
}
.socialIcon:hover{
    cursor: pointer;
}